<div class="container">
  <app-form
  title="Bienvenido usuari@!"
  [form]="loginForm"
  (formSubmitted)="onSubmitEventHandler($event)"
>
  <div class="form-group" [formGroup]="loginForm">
    <label for="email" class="lblTitulo">Email:</label>
    <input
      type="text"
      class="form-control"
      id="email"
      formControlName="email"
    />
    <ng-container
      *ngIf="this.mail?.invalid && (this.mail?.touched || this.mail?.dirty)"
    >
      <div
        *ngIf="this.mail!.errors?.['required'] || this.mail!.errors?.['email']"
      >
          <label class="text-danger lblMsgError">Email Inválido</label>
      </div>
    </ng-container>
  </div>
  <div class="form-group" [formGroup]="loginForm">
    <label for="password" class="lblTitulo">Password:</label>
    <input
      type="password"
      id="password"
      class="form-control"
      formControlName="password"
    />
    <ng-container
      *ngIf="
        this.password?.invalid &&
        (this.password?.touched || this.password?.dirty)
      "
    >
      <div *ngIf="this.password!.errors?.['required']">
          <label class="text-danger lblMsgError">Password no puede estar vacío</label>
      </div>
    </ng-container>
    <button class="btn btn-outline-secondary" type="submit">
      Iniciar Sesión
    </button>
  </div>
</app-form>
</div>
