.btn-outline-secondary:hover{
  color: #9461fb;
  background-color: transparent;
  border-color: #9461fb;
}

.customBorder {
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 25px;
  background-color: #2b3035;
}

.containerImage{
  margin: 25px;
}

.container{
  margin-top: 30px;
}
p{
  font-size: 20px;
}

.alert-danger{
  background-color: #2b3035;
  color: rgb(223, 81, 81);
  border: 2px solid rgb(223, 81, 81);
}

.alert-success{
  background-color: #2b3035;
  color:  rgb(63, 143, 73);
  border: 2px solid rgb(63, 143, 73);
}
