li {
  color: white;
  margin-bottom: 5px;
}

a {
  outline: none;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

a:hover{
  color: #9461fb;
  transform: scale(1.1);
}

.scrollable-col {
  overflow-y: auto;
  max-height: 50vh;
}

.scrollable-col::-webkit-scrollbar {
  width: 8px;
}

.scrollable-col::-webkit-scrollbar-track {
  background: #2b3035;
}

.scrollable-col::-webkit-scrollbar-thumb {
  background: #888;
}

.scrollable-col::-webkit-scrollbar-thumb:hover {
  background: #555;
}
