<div class="component-container">
  <div class="container mt-5">
    <div class="container containerStyle">
        <h1>Renzo Orpelli!</h1>
        <p>Desarrollador Back End</p>
    </div>
    <div class="containerImage">
      <img src="https://img.magic.ly/avatar/35167ed9d1b4691ff78cb21e1d139427.webp?1614180829768"  alt="imagen-perfil" class="rounded-circle img-fluid" style="height: 200px;">
    </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">About Me</h5>
            <p class="card-text">Hola! soy un desarrollador .NET, vivo en Buenos Aires, Argentina. Actualmente soy estudiante universitario aparte de mi trabajo profesional como Programador. <br>Este sitio fue creado en Angular, especialmente para la materia Laboratorio de Software IV, sobre el primer trabajo práctico el cual se llama "Sala de juegos" que te contaré de que va luego. </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sobre el trabajo práctico</h5>
            <p class="card-text">La metodología de entrega es mediante Sprints, actualmente el trabajo tiene 6 sprints. Se trata sobre una "Sala de juegos" tal como aclara el nombre. Consiste en que tendremos que crear una plataforma la cual contiene usuarios, donde estos podrán hacer uso de los juegos que fueron desarrollados por mí, completamente desde 0.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Juegos incluidos</h5>
            <ul>
              <li><a routerLink="juegos/ahorcado">Ahorcado</a><p class="card-text">El clásico juego del ahorcado donde tienes 7 intentos para adivinar la palabra que se te es asignada antes que estos se acaben.</p></li>
              <li><a routerLink="juegos/mayoromenor">Mayor o Menor</a><p class="card-text">En este juego, el sistema eligirá automaticamente una carta al azar numérica de un mazo convencional de poker, la cual no se te será revelada y unicamente con la que se te es revelada en pantalla, tendrás que adivinar si es mayor o menor a la que se encuentra oculta. Este desarrollo fue posible gracias a la API pública de <a  href="https://deckofcardsapi.com/" target="_blank">Deck Of Cards</a></p></li>
              <li><a routerLink="juegos/ahorcado">Preguntados</a><p class="card-text">En esta oportunidad, se muestra una implementación propia del clásico juego argentino   <a href="https://preguntados.com/" target="_blank">Preguntados</a>, el juego se encuentra en inglés, ya que la consigna pedía utilizar la trivia de preguntas desde una API. En mi caso utilicé la API Pública de  <a href="https://the-trivia-api.com/" target="_blank">The Trivia API</a>.</p></li>
              <li><a routerLink="juegos/pong">Pong</a><p class="card-text">Como juego propio, implementé el juego Pong, que es clásico y divertido. ¿Cómo se juega? notarán que al inciar el juego, moverán al jugador de la parte izquierda de la cancha y a su véz para simular un segundo jugar el del lado derecho se moverá en dirección contraria. Intenta que el segundo jugador no toque la la pelota para poder ganar puntos. La partida consta de 5 saques.</p></li>
            </ul>

          </div>
        </div>
      </div>
</div>


