@import "~bootstrap/dist/css/bootstrap.css";

body{
  background-color: #212529;
  /* margin-top: 100px; */
  padding-top: 65px;
  padding-bottom: 50px;
}

body h1,h4, h2 {
  color: #fff;
}

body p {
  color : #adb5bd;
}

body hr {
  color : #adb5bd;
}
